@model Project_full.Models.Pojisteni

@{
    ViewData["Title"] = "Edit";
}

<h1>Upravit pojištění</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nazev" class="control-label"></label>
                <input asp-for="Nazev" class="form-control" />
                <span asp-validation-for="Nazev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PojistnaCastka" class="control-label"></label>
                <input asp-for="PojistnaCastka" class="form-control" />
                <span asp-validation-for="PojistnaCastka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Uložit" class="btn btn-primary my-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-warning"  asp-action="Index">Zpět na seznam </a>
</div>

