@{
    ViewData["Title"] = "PojiApp";
}

@model List<Pojisteni>

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <title>PojiApp</title>
</head>
<body>
    <h1>Vítejte v PojiApp!</h1>
</body>
</html>