@{
    ViewData["Title"] = "PojiApp";
}

@model List<Pojisteni>

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <title>Seznam pojištění</title>
</head>
<body>
    <h1>Seznam pojištění</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Název pojištění</th>
                <th>Cena</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pojisteni in Model)
            {
                <tr>
                    <td>@pojisteni.Nazev</td>
                    <td>@pojisteni.Cena</td>
                    <td>
                        <a href="@Url.Action("DetailPojisteni", "Home", new { id = pojisteni.Id })">Detail</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>