@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<Osoba> SignInManager
@inject UserManager<Osoba> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		@if (User.IsInRole(UserRoles.Admin))
		{
			<li class="nav-item">
				<a class="nav-link text-danger" asp-controller="UserManagement" asp-action="Index">Seznam klientů</a>
			</li>
		}
		<li class="nav-item">
			<a class="nav-link text-primary" asp-controller="PojistneSmlouvy" asp-action="Index">Osobní zóna</a>
		</li>
		<li class="nav-item">

			<a class="nav-link text-dark"
			   asp-controller="UserManagement"
			   asp-action="Details"
			   asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)"
			   title="Manage">
				Vítej, @User.Identity?.Name!
			</a>


		</li>
		<li class="nav-item">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="nav-link btn btn-link text-dark">Odhlásit se</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registovat</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Přhlásit se</a>
		</li>
	}
</ul>
